html,body{
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 1;
}
*{
    box-sizing: border-box;
}
#fullpage{
    visibility: hidden;
}
a{
    text-decoration: none;
}


html, body {
    position: relative;
    height: 100%;
    opacity: 1;
    background: #32a4da;
    background: -moz-linear-gradient(top,  #32a4da 0%, #b4e1da 99%);
    background: -webkit-linear-gradient(top,  #32a4da 0%,#b4e1da 99%);
    background: linear-gradient(to bottom,  #32a4da 0%,#b4e1da 99%);
}
.no-scroll{
    height: 100%;
    overflow: hidden;
}
.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9;
}
.loading .loading-icon{
    position: absolute;
    left: 230px;
    top: 30%;
    width: 180px;
    height: 40px;
    padding-top: 160px;
    -webkit-animation: step .2s steps(1) -1s infinite alternate;
    font: 36px/1 "HelveticaNeue","PingFangSC","Microsoft Yahei";
    color: #fff;
    text-align: center;
}
@-webkit-keyframes step{
    0%,100%{
        background: url(../img/drum.png) no-repeat;
    }
    50%{
        background: url(../img/drum-active.png) no-repeat;
    }
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.music{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 870;
    width: 140px;
    height: 100px;
    background: url(../img/music.png) no-repeat;
    -webkit-animation: music 1000ms infinite steps(15) forwards;
}
.music-close {
    -webkit-animation: none;
}
@-webkit-keyframes music{
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -2100px 0;
    }
}

.m-animationCloudBg {
    width: 100vw;
    height: 100vh;
    /*background: url(../img/bg.jpg) no-repeat;*/
    /*background-size: 100% 100%;*/
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
}

.m-animationCloudBg i {
    width: 640px;
    height: 300px;
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 0!important;
}

.m-animationCloudBg i:nth-child(1) {
    background: url(../img/cloud1.png);
    top: 50px;
    left: -100px;
    -webkit-animation: animationCloudBg 1s linear infinite;
    -webkit-animation-delay: 2s;
}

.m-animationCloudBg i:nth-child(2) {
    background: url(../img/cloud2.png);
    top: 100px;
    left: -50px;
    -webkit-animation: animationCloudBg 2s linear infinite;
    -webkit-animation-delay: 1s;
}

.m-animationCloudBg i:nth-child(3) {
    background: url(../img/cloud3.png);
    top: 150px;
    left: 0;
    -webkit-animation: animationCloudBg 4s linear infinite;
    -webkit-animation-delay: 0s;
}

.m-animationCloudBg i:nth-child(4) {
    background: url(../img/cloud4.png);
    top: 200px;
    left: 50px;
    -webkit-animation: animationCloudBg 2s linear infinite;
    -webkit-animation-delay: 2s;
}

.m-animationCloudBg i:nth-child(5) {
    background: url(../img/cloud5.png);
    top: 250px;
    left: -50px;
    -webkit-animation: animationCloudBg 1.2s linear infinite;
    -webkit-animation-delay: 3s;
}

.m-animationCloudBg i:nth-child(6) {
    background: url(../img/cloud6.png);
    top: 300px;
    left: 20px;
    -webkit-animation: animationCloudBg 3s linear infinite;
    -webkit-animation-delay: 1s;
}

.m-animationCloudBg i:nth-child(7) {
    background: url(../img/cloud1.png);
    top: 350px;
    left: 80px;
    -webkit-animation: animationCloudBg 4.5s linear infinite;
    -webkit-animation-delay: 0s;
}

.m-animationCloudBg i:nth-child(8) {
    background: url(../img/cloud2.png);
    top: 400px;
    left: -10px;
    -webkit-animation: animationCloudBg 2.8s linear infinite;
    -webkit-animation-delay: 1s;
}

.m-animationCloudBg i:nth-child(9) {
    background: url(../img/cloud3.png);
    top: 350px;
    left: 80px;
    -webkit-animation: animationCloudBg 1.6s linear infinite;
    -webkit-animation-delay: 2s;
}

.m-animationCloudBg i:nth-child(10) {
    background: url(../img/cloud4.png);
    top: 20px;
    left: -100px;
    -webkit-animation: animationCloudBg 4s linear infinite;
    -webkit-animation-delay: 1s;
}

.m-animationCloudBg i:nth-child(11) {
    background: url(../img/cloud5.png);
    top: 60px;
    left: 0;
    -webkit-animation: animationCloudBg 2.5s linear infinite;
    -webkit-animation-delay: 2s;
}

.m-animationCloudBg i:nth-child(12) {
    background: url(../img/cloud6.png);
    top: 0;
    left: -50px;
    -webkit-animation: animationCloudBg 3.2s linear infinite;
    -webkit-animation-delay: 0s;
}

@-webkit-keyframes animationCloudBg {
    0% {
        -webkit-transform: scale(0.5) translate(-300px,300px) rotateX(0deg) rotateY(0deg);
        opacity: 0;
    }

    33% {
        -webkit-transform: scale(1) translate(-80px,80px) rotateX(20deg) rotateY(-20deg);
        opacity: 1;
    }

    66% {
        -webkit-transform: scale(1.5) translate(100px,-100px) rotateX(30deg) rotateY(-10deg);
        opacity: .8;
    }

    100% {
        -webkit-transform: scale(1.8) translate(300px,-300px) rotateX(0deg) rotateY(0deg);
        opacity: .6;
    }
}


.fullpage .section{
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url(../img/appBg1.jpg);
    transition: -webkit-transform 0.4s ease-out;
    transform: translateY(0px);
    transform-origin: center top 0px;

    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 50%;
}
.fullpage .section .array {
    position: absolute!important;
    top: auto!important;
    bottom: 5%!important;
    left: 0!important;
    right: 0!important;
    width: 69px!important;
    height: 94px!important;
    -webkit-animation: start 1.5s infinite ease-in-out !important;
    animation: start 1.5s infinite ease-in-out!important;
    z-index: 999!important;
    margin: 0 auto!important;
}
@-webkit-keyframes start {
    0%,30% {
        opacity: 0;
        -webkit-transform: translate(0,20px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(0,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0,-18px)
    }
}
.fullpage .section.pl1 > .words{
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    width: 70%;
    margin: auto;
    font-size: 30px;
    line-height: 65px;
    color: rgba(214, 86, 64, 0.78);
    /* writing-mode: tb-rl; */
    letter-spacing: 4px;
    /* font-family: "AOVELSANS"; */
    text-shadow: 2px 9px 14px #ded3d3;
    font-style: oblique;
    -webkit-transform: rotatez(13deg);
    /* white-space: nowrap; */
    display: block;

}
.fullpage .section.pl1{
    background: url(../img/bg.jpg);
    background-size: 100% 100%;
}
.fullpage .section.pl2{
    position: relative;
}
.fullpage .section.pl2 > img{
    position: absolute;
    top: 15%;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 15px;
    opacity: 0;
    -webkit-transition: all .8s ease-out;
}
.fullpage .section.pl2 > img.rightShow{
    -webkit-animation: rightShow .8s ease-in-out forwards;
    animation: rightShow .8s ease-in-out forwards;
}
.fullpage .section.pl2 > img.leftShow{
    -webkit-animation: leftShow .8s ease-in-out forwards;
    animation: leftShow .8s ease-in-out forwards;
}

.fullpage .section.pl2 > img:first-child{
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(15deg) translate3d(0, 0, 0px);
}
.fullpage .section.pl2 > img:nth-child(2){
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg) translate3d(0, 0, 0px);
}
.fullpage .section.pl2 > img:nth-child(3){
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(10deg) translate3d(0, 0, 0px);
}
.fullpage .section.pl2 > img:nth-child(3).rightShow{
    -webkit-animation: rightShow3 .8s ease-in-out forwards;
    animation: rightShow3 .8s ease-in-out forwards;
}

.fullpage .section.pl2 > img:nth-child(4){
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-10deg) translate3d(0, 0, 0px);
}
.fullpage .section.pl2 > img:nth-child(4).leftShow{
    -webkit-animation: leftShow4 .8s ease-in-out forwards;
    animation: leftShow4 .8s ease-in-out forwards;
}

.fullpage .section.pl2 > img:nth-child(5){
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(5deg) translate3d(0, 0, 0px);
}
.fullpage .section.pl2 > img:nth-child(5).rightShow{
    -webkit-animation: rightShow5 .8s ease-in-out forwards;
    animation: rightShow5 .8s ease-in-out forwards;
}
.fullpage .section.pl2 > img:nth-child(6){
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg) translate3d(0, 0, 0px);
}
.fullpage .section.pl2 > img:nth-child(6).leftShow{
    -webkit-animation: leftShow6 .8s ease-in-out forwards;
    animation: leftShow6 .8s ease-in-out forwards;
}
@-webkit-keyframes rightShow{
    0%{
        opacity: 1;
        -webkit-transform: rotateX(60deg) rotateY(-60deg) rotateZ(30deg) translate3d(80%, 0, 0px);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(15deg) translate3d(0, 0, 0px);
    }
}
@-webkit-keyframes leftShow{
    0%{
        opacity: 1;
        -webkit-transform: rotateX(60deg) rotateY(60deg) rotateZ(-30deg) translate3d(-80%, 0, 0px);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg) translate3d(0, 0, 0px);
    }
}

@-webkit-keyframes rightShow3{
    0%{
        opacity: 1;
        -webkit-transform: rotateX(60deg) rotateY(-60deg) rotateZ(30deg) translate3d(80%, 0, 0px);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(10deg) translate3d(0, 0, 0px);
    }
}
@-webkit-keyframes leftShow4{
    0%{
        opacity: 1;
        -webkit-transform: rotateX(60deg) rotateY(60deg) rotateZ(-30deg) translate3d(-80%, 0, 0px);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-10deg) translate3d(0, 0, 0px);
    }
}
@-webkit-keyframes rightShow5{
    0%{
        opacity: 1;
        -webkit-transform: rotateX(60deg) rotateY(-60deg) rotateZ(30deg) translate3d(80%, 0, 0px);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(5deg) translate3d(0, 0, 0px);
    }
}
@-webkit-keyframes leftShow6{
    0%{
        opacity: 1;
        -webkit-transform: rotateX(60deg) rotateY(60deg) rotateZ(-30deg) translate3d(-80%, 0, 0px);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg) translate3d(0, 0, 0px);
    }
}

.fullpage .section.pl2 > .z-move{
    position: absolute;
    top: 40%;
    display: block;
    width: 35px;
    height: 54px;
    background: url(../img/units-icons.png) no-repeat;
    background-size: 100% 100%;

    -webkit-transform-style: preserve-3d;
}
.fullpage .section.pl2 > .z-move.prev{
    left: 5%;
    -webkit-animation: guidePrev 1.5s ease infinite;
    animation: guidePrev 1.5s ease infinite;
}
.fullpage .section.pl2 > .z-move.next{
    right: 5%;
    -webkit-transform: rotateZ(180deg);

    -webkit-animation: guideNext 1.5s ease infinite;
    animation: guideNext 1.5s ease infinite;
}
@-webkit-keyframes guidePrev {
    0%,20% {
        -webkit-transform: translateX(0px)
    }

    35% {
        -webkit-transform: translateX(12px)
    }

    50% {
        -webkit-transform: translateX(-20px)
    }

    65% {
        -webkit-transform: translateX(0px)
    }

    80% {
        -webkit-transform: translateX(-12px)
    }

    100% {
        -webkit-transform: translateX(0px)
    }
}

@-webkit-keyframes guideNext {
    0%,20% {
        -webkit-transform: translateX(0px) rotateZ(180deg)
    }

    35% {
        -webkit-transform: translateX(-12px) rotateZ(180deg)
    }

    50% {
        -webkit-transform: translateX(20px) rotateZ(180deg)
    }

    65% {
        -webkit-transform: translateX(0px) rotateZ(180deg)
    }

    80% {
        -webkit-transform: translateX(12px) rotateZ(180deg)
    }

    100% {
        -webkit-transform: translateX(0px) rotateZ(180deg)
    }
}
.fullpage .section.pl2 > .hideToLeft{
    -webkit-animation: hideToLeft 1s linear;
    animation: hideToLeft 1s linear;
}
.fullpage .section.pl2 > .hideToRight{
    -webkit-animation: hideToRight 1s linear;
    animation: hideToRight 1s linear;
}
@-webkit-keyframes hideToLeft {
    0% {
        -webkit-transform: translateX(0%)
    }
    100% {
        -webkit-transform: translateX(-100%);
        opacity: 0
    }
}
@-webkit-keyframes hideToRight {
    0% {
        -webkit-transform: translateX(0%)
    }

    100% {
        -webkit-transform: translateX(100%);
        opacity: 0
    }
}


.section.pl3 h1{
    font-size:40px;
    position: fixed;
    bottom: 15%;
    color: #f76939;
    border-radius: 4px;
    cursor: pointer;
}
.flipInY {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
}
@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,90deg);
        transform: perspective(400px) rotate3d(0,1,0,90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-20deg);
        transform: perspective(400px) rotate3d(0,1,0,-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,10deg);
        transform: perspective(400px) rotate3d(0,1,0,10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-5deg);
        transform: perspective(400px) rotate3d(0,1,0,-5deg)
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}
main {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.dice {
    width: 300px;
    height: 300px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg) rotateY(0deg) translateX(0);
    transform: rotateX(0deg) rotateY(0deg) translateX(0);


    /*-webkit-animation: rotate 10s infinite ease-in-out;
    animation: rotate 10s infinite ease-in-out;*/

    -webkit-animation: panel 2.2s infinite forwards;
    animation: panel 2.2s infinite forwards;

  /*  -webkit-animation: random 5s ease-in-out forwards infinite;
    animation: random 5s ease-in-out forwards infinite;*/
}
.dice.add-keyframe {
    -webkit-animation-name: rotate, opacity;
    animation-name: rotate, opacity;
}
.dice > div {
    height: 300px;
    width: 300px;
    position: absolute;
    background: #F76331;

    color: rgba(255, 255, 255, .3);
    font-weight:bold;
    font-size:300px;
    line-height:300px;
    text-align:center;
    text-align:center;
}
.dice .front {
    -webkit-transform: rotateY(0deg) translateZ(150px);
    transform: rotateY(0deg) translateZ(150px);
    background: url(../img/head.jpg) no-repeat;
    background-size: 100% 100%;
}
.dice .back {
    -webkit-transform: rotateX(180deg) translateZ(150px);
    transform: rotateX(180deg) translateZ(150px);
    background: url(../img/head.jpg) no-repeat;
    background-size: 100% 100%;
}
.dice .right {
    -webkit-transform: rotateY(90deg) translateZ(150px);
    transform: rotateY(90deg) translateZ(150px);
    background: url(../img/head1.jpg) no-repeat;
    background-size: 100% 100%;
}

.dice .left {
    -webkit-transform: rotateY(-90deg) translateZ(150px);
    transform: rotateY(-90deg) translateZ(150px);
    background: url(../img/head1.jpg) no-repeat;
    background-size: 100% 100%;
}
.dice .top {
    -webkit-transform: rotateX(90deg) translateZ(150px);
    transform: rotateX(90deg) translateZ(150px);
    background: url(../img/head2.jpg) no-repeat;
    background-size: 100% 100%;
}

.dice .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(150px);
    transform: rotateX(-90deg) translateZ(150px);
    background: url(../img/head2.jpg) no-repeat;
    background-size: 100% 100%;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0);
        transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0);
    }
    35% {
        -webkit-transform: rotateX(-180deg) rotateY(-90deg) rotateZ(0deg) translateX(0);
        transform: rotateX(-180deg) rotateY(-90deg) rotateZ(0deg) translateX(0);
    }
    45% {
        -webkit-transform: rotateX(-180deg) rotateY(-90deg) rotateZ(0deg) translateX(0);
        transform: rotateX(-180deg) rotateY(-90deg) rotateZ(0deg) translateX(0);
    }
    65% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-360deg) translateX(0);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-360deg) translateX(0);
    }
    75% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-360deg) translateX(0);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-360deg) translateX(0);
    }
    100% {
        -webkit-transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0);
        transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0);
    }
}
@-webkit-keyframes panel {
     0% {
         -webkit-transform: rotateY(0deg) rotateZ(0deg);
     }
     20% {
         -webkit-transform: rotateY(90deg) rotateZ(0deg);
     }
     40% {
         -webkit-transform: rotateX(45deg) rotateZ(45deg);
     }
     60% {
         -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
     }
     80% {
         -webkit-transform: rotateX(310deg) rotateZ(230deg);
     }
     100% {
         -webkit-transform: rotateX(360deg) rotateZ(360deg);
     }
 }
@-webkit-keyframes random {
    0% {
        -webkit-transform: translateX(0px) rotate(500deg);
        transform: translateX(0px) rotate(500deg);
    }
    12.5% {
        -webkit-transform: translateY(0px) rotateY(500deg);
        transform: translateY(0px) rotateY(500deg);
    }
    25% {
        -webkit-transform: translateZ(0px) rotateZ(500deg);
        transform: translateZ(0px) rotateZ(500deg);
    }
    37.5% {
        -webkit-transform: translateX(0px) rotateX(500deg);
        transform: translateX(0px) rotateX(500deg);
    }
    50.5% {
        -webkit-transform: translateY(0px) rotateY(500deg);
        transform: translateY(0px) rotateY(500deg);
    }
    62.5% {
        -webkit-transform: translateZ(0px) rotateZ(500deg);
        transform: translateZ(0px) rotateZ(500deg);
    }
    75% {
        -webkit-transform: translateX(0px) rotateX(500deg);
        transform: translateX(0px) rotateX(500deg);
    }
    87.5% {
        -webkit-transform: translateZ(0px) rotateY(500deg);
        transform: translateZ(0px) rotateY(500deg);
    }
    100% {
        -webkit-transform: translateY(0px) rotateY(500deg);
        transform: translateY(0px) rotateY(500deg);
    }
}


.canvas{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.body--ready {
    /* Ideas
    background: -webkit-linear-gradient(top, #e2b986 -10%, #241c35 140%);
    background: -webkit-linear-gradient(top, #c97369 -40%, #241c35 130%);
    background: -webkit-linear-gradient(top, #fac4c4 -10%, #606386 140%);
    background: -webkit-linear-gradient(top, #519ab0 0%, #414A6D 110%);
    background: -webkit-linear-gradient(top, rgb(129, 0, 170) 0%, rgb(43, 4, 114) 110%);
    background: -webkit-linear-gradient(top, rgb(163, 235, 189) 0%, rgb(16, 93, 145) 110%);
    background: -webkit-linear-gradient(top, rgb(165, 103, 189) 0%, rgb(75, 233, 214) 120%);
    */

    background: -webkit-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
    background: -moz-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
    background: -o-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
    background: -ms-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
    background: linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
}


.ui {
    position: absolute;
    left: 50%;
    bottom: 5%;
    width: 300px;
    margin-left: -150px;
    display: none;
}

.ui-input {
    width: 100%;
    height: 50px;
    background: none;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: none;
    border-bottom: 2px solid white;
}

.ui-input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid white;
}

.ui-return {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 3px 2px 0 2px;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    border: 1px solid #fff;
}

.ui--enter .ui-return {
    display: block;
}

.ui--wide {
    width: 76%;
    margin-left: 12%;
    left: 0;
}

.ui--wide .ui-return {
    right: -20px;
}

.touch .ui-input {
    display: none;
}
